/*-----------------------------------------------*/
/*                                               */
/* General Settings                              */
/*                                               */
/*-----------------------------------------------*/

html {
  scroll-behavior:smooth;
  height:100%;
}

h1,h2,h3,h4,h5,h6{font-weight:400;margin:10px 0}
html,body{font-size:15px;line-height:1.5;}

a {
  color:maroon;
}

/*-----------------------------------------------*/
/* Background                                    */
/*-----------------------------------------------*/

.background {
    position:fixed;
    top:0; bottom:0; left:0; right:0;
    background-size:cover;
    background-position: top left;
    background-image:url(konst.jpg);
    z-index:-2;
    background-attachment:scroll, local;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    }

/*-----------------------------------------------*/
/*                                               */
/* Nav                                           */
/*                                               */
/*-----------------------------------------------*/

nav.sidebar {
    position:fixed; 
    position: -webkit-sticky; /* Safari */
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-image:url('Parchment.jpg');
    margin: 0px auto 0px 2%;
    padding-bottom:16px;
    width:100%;
    max-width:300px;
    border:2px solid RosyBrown;
    float:left;
    overflow:hidden;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    align-self:flex-start;
}
h1.sidebar {
    margin-left:25px;
    font-size: 36px;
    font-family:'Requiem Display A';
    color:maroon;
}
h2.sidebar {
    margin: auto 8px auto 48px;
    font-size: 24px;
    font-family:'Requiem Display A';
    color:maroon;
    user-select:none;
    cursor:pointer;
}

h3.sidebar {
    margin: auto 8px auto 56px;
    font-size: 16px;
    font-family:'Requiem Display A';
    color:maroon;
}

.menu_toggle {
  padding-top:23px;
  display:none;
  height:42px;
  width:42px;
  margin: 0 2em 0% auto;
}

.sidebar-content {
  display:block;
}

.short_line {
    margin-bottom:25%;
    width:2.75em;
    border-bottom: 2.4px solid maroon;
}

details > summary {
  list-style: none;
}

div.h_line {
    display:block;
    margin-bottom:12px;
    box-sizing:border-box;
    margin-left:1.5em;
    margin-right:1.5em;
    border-bottom: 1px solid black;
}
h2.sidebar::before {
  content:"+";
  font-size: 24px;
  font-family:'Requiem Display A';
  margin-right:5%;
  width:0.25em;
  text-align:right;
  display:inline-block;
}
details[open] h2.sidebar::before {
  content:"=";
}

/*-----------------------------------------------*/
/*                                               */
/* Article                                       */
/*                                               */
/*-----------------------------------------------*/

article > * {
    margin: auto;
    padding-left:7.5%;
    max-width:800px; 
}
article {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-image:url('Parchment.jpg');
    margin: 16px auto 16px auto;
    max-width:800px; 
    border:2px solid RosyBrown;
    position:relative;
    float:center;
}

/*-----------------------------------------------*/
/* Article Headers                               */
/*-----------------------------------------------*/

h1.entry {
    margin-top:16px; 
    margin-bottom:auto; 
    font-size: 36px; 
    font-family:'Requiem Display A'; 
    color:maroon
}
h2.entry {
    margin-left:0;
    margin-right:7.5%;
    margin-top:16px; 
    margin-bottom:auto;
    position:relative;
    font-size: 36px; 
    font-family:'Requiem Display A'; 
    color:maroon
}
h3.entry { 
    margin-top:16px; 
    margin-bottom:auto; 
    margin-right:7.5%;
    font-size: 24px; 
    font-family:'Requiem Display A'; 
    color:maroon
}
h4.entry { 
    margin-left:auto;
    text-align:right;
    margin-right:5%;
    margin-top:auto; 
    margin-bottom:16px; 
    font-size: 16px; 
    font-family:'Requiem Display A'; 
    color:maroon
}
p.entry {
    margin-right:7.5%; 
    margin-top:auto; 
    margin-bottom:16px;
    font-size: 16; 
    font-family:'Requiem Display A'
}

/*-----------------------------------------------*/
/* Article Asides                                */
/*-----------------------------------------------*/

aside.note {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-image:url('Parchment.jpg');
    margin-left:102%;
    margin-right:auto;
    margin-bottom:auto;
    margin-top:auto;
    width:100%;
    padding:16px;
    max-width:250px;
    border:2px solid RosyBrown;
    position:absolute;
    float:right;
    display:block;
}

p.note {
    margin:auto;
    font-size: 16;
    font-family:"Requiem Display A";
}

/*-----------------------------------------------*/
/* Article Images                                */
/*-----------------------------------------------*/

.image-frame {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    position:relative;
    margin-left:auto; 
    margin-right:auto; 
    max-width:750px; 
    background-color:black; 
    border:2px solid RosyBrown; 
    margin-top:16px; 
    margin-bottom: 32px;
    overflow:visible;
    padding-left:0;
    padding-top:0;
}

figure {
    margin:0;
    padding:0;
}
img {
    display:block;
}
figcaption {
    position:absolute; 
    margin-top:1%;
    margin-left:auto; 
    width:100%; 
    margin-right: auto; 
    text-align:center; 
    font-size:16;
    font-family:"Requiem Display A";
    color:gray;
    font-style:italic;
}

/*-----------------------------------------------*/
/* Article Slideshows                            */
/*-----------------------------------------------*/

.slideshow-elements {
    margin-top:16px!important;
    margin-bottom:16px!important;
    text-align:center!important;
    display:inline-block;
    width:100%;
    padding:0.01em 16px;
    position:absolute;
    bottom:0;
}

.slideshow-arrow      {color:white!important; cursor:pointer; user-select:none;}
.slideshow-arrow:hover{color:khaki!important;}

.slideshow-badge {
    color:white; 
    background-color:transparent; 
    display:inline-block; 
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc!important;
    height:13px;
    width:13px;
    padding:0;
    cursor:pointer;
}
.slideshow-badge:hover {background-color:white!important;}

.animate-opacity {
  animation:opac 0.8s
}@keyframes opac {from{opacity:0} to{opacity:1}}


/*-----------------------------------------------*/
/*                                               */
/* Footer                                        */
/*                                               */
/*-----------------------------------------------*/

footer {
    box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-image:url('Parchment.jpg');
    margin: 16px auto 16px auto;
    max-width:600px; 
    border:2px solid RosyBrown;
    clear:both;
}

small {
  color:maroon;
  margin-top:auto; 
  margin-bottom:16px;
  font-size: 16; 
  font-family:'Requiem Display A';
  padding:16px;
  line-height:1.5;
}

/*-----------------------------------------------*/
/*                                               */
/* Size Dependent CSS                            */
/*                                               */
/*-----------------------------------------------*/



@media (max-width: 1080px) {
  article {display:block;}
  aside.note {
    float:none;
    margin-left:auto;
    position:relative;
    box-shadow:none;
    background-image:none;
    border:none;
    margin-top:8px;
    margin-bottom:8px;
    margin-left:7.5%;
    max-width:90%;
    margin-right:auto;
    border-left:2px solid RosyBrown;
  }
  nav.sidebar {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-image:url('Parchment.jpg');
    margin:0;
    padding:0;
    max-width:100%;
    border:2px solid RosyBrown;
    position:relative;
    display:block;
    float:none;
    z-index:1;
  }
  h1.sidebar {
    float:left;
  }
  h2.sidebar {
    font-size: 36px;
    margin-left:5%;
    margin-right:auto;
  }
  h2.sidebar::before {
    font-size: 36px;
  }
  .sidebar-content {
    display:none;
    position:relative;
  }
  .menu_toggle {
    display:block;
  }
  div.h_line {display:none;padding-top:2em;}
}


/*-----------------------------------------------*/
/*                                               */
/* Misc. Classes                                 */
/*                                               */
/*-----------------------------------------------*/


/*-----------------------------------------------*/
/* Positioning */
/*-----------------------------------------------*/

.left  {float: left!important;}
.right {float:right!important;}

/*-----------------------------------------------*/
/* Size of Text */
/*-----------------------------------------------*/

.large {font-size:24px!important;}






